@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




/* CountUp */

@property --num-rating {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @property --num-users {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @property --num-reg-users {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  @property --num-country {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  @keyframes counter {
    from {
        --num-rating: 0;
        --num-users: 0;
        --num-reg-users: 0;
        --num-country:0;
    }
    to {
        --num-rating: 4;
        --num-users: 95;
        --num-reg-users: 50;
        --num-country:1;
    }
  }